<div class="form-page">
  <form class="form" method="POST" action="">
    <div class="form-box">
      <label for="password">Super secret password</label>
      <!-- prettier-ignore -->
      <input type="password" name="secret" id="secret" required>
    </div>

    <div class="form-btn-box">
      <button type="submit">JOIN</button>
    </div>
  </form>
</div>
