<div class="form-page">
  <h1>LOG IN</h1>
  <form class="form" method="POST" action="">
    <div class="form-box">
      <label for="username">Username</label>
      <!-- prettier-ignore -->
      <input type="email" name="username" id="username" required>
    </div>

    <div class="form-box">
      <label for="password">Password</label>
      <!-- prettier-ignore -->
      <input type="password" name="password" id="password" required>
    </div>

    <div class="form-btn-box">
      <button class="btn btn-submit" type="submit">LOG IN</button>
    </div>
  </form>
</div>
