<div class="form-page">
  <form class="form" method="POST" action="">
    <div class="form-box">
      <label for="message">Message</label>
      <!-- prettier-ignore -->
      <input type="text" name="message" id="message" required>
    </div>

    <div class="form-btn-box">
      <button type="submit">Create</button>
    </div>
  </form>
</div>
