<div class="form-page">
  <h1>SIGN UP</h1>
  <form class="form" method="POST" action="">
    <div class="form-box">
      <label for="first_name">First Name</label>
      <!-- prettier-ignore -->
      <input type="text" name="first_name" id="first_name" required value=<%= typeof newUser!='undefined' ? newUser.first_name : '' %> >
    </div>

    <div class="form-box">
      <label for="last_name">Last Name</label>
      <!-- prettier-ignore -->
      <input type="text" name="last_name" id="last_name" required value=<%= typeof newUser!='undefined' ? newUser.last_name : " " %> >
    </div>

    <div class="form-box">
      <label for="username">Username</label>
      <!-- prettier-ignore -->
      <input type="email" name="username" id="username" required value=<%= typeof newUser!='undefined' ? newUser.username : '' %> >
    </div>

    <div class="form-box">
      <label for="password">Password</label>
      <!-- prettier-ignore -->
      <input type="password" name="password" id="password" required>
    </div>

    <div class="form-box">
      <label for="confirm_password">Confirm Password</label>
      <!-- prettier-ignore -->
      <input type="password" name="confirm_password" id="confirm_password" required>
    </div>

    <div class="form-box admin-box">
      <label for="id_admin">Admin</label>
      <!-- prettier-ignore -->
      <input type="checkbox" name="is_admin" id="is_admin" >
    </div>

    <div class="form-btn-box">
      <button class="btn btn-submit" type="submit">Submit</button>
    </div>
  </form>
  <!-- prettier-ignore -->
  <div class="errors">
    <!-- prettier-ignore -->
    <% if (typeof errors != 'undefined') { %> 
      <!-- prettier-ignore -->
      <% errors.forEach(error => { %>
        <!-- prettier-ignore -->
        <span><%= error.msg %> </span>
        <!-- prettier-ignore -->
        <% console.log(error) %> 
        <!-- prettier-ignore -->
      <% }) %>
    <% } %>
  </div>
</div>
